<a href="https://colab.research.google.com/github/priyankachahal/student_research/blob/master/ecg_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
import os
import sys
import glob

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [0]:
BASE_PATH = '/content/drive/My Drive/Final Project/dataset/ecg-bg/data/ECG'
DATA_FRAME_FILE = '/content/drive/My Drive/Final Project/dataset/ecg-bg/ecg_reading_data_frame.csv'

In [0]:
def extract_filename_from_path(path):
  return (os.path.split(path)[1])

In [0]:
def get_input_dataframe():
  use_data_frame_file = True
  if use_data_frame_file:
      return pd.read_csv(DATA_FRAME_FILE, engine='python')
  else:
    all_files = glob.glob(BASE_PATH + '/*.csv')
    li_df = []
    counter = 0
    for filename in all_files:
      df = pd.read_csv(filename, usecols=[1], engine='python')
      df = df.transpose();
      df.insert(0, 'fn', extract_filename_from_path(filename))
      li_df.append(df)
      counter = counter + 1
      if counter % 10 == 0:
        print(counter)
    frame = pd.concat(li_df, axis=0, ignore_index=True)
    return frame

In [0]:
df = get_input_dataframe()

In [0]:
#df.to_csv('/content/drive/My Drive/Final Project/dataset/ecg-bg/ecg_reading_data_frame.csv', index = None, header = True)

In [7]:
df

              fn           0           1  ...  51675  51676  51677
0      956_1.csv   65.347867  197.594708  ...    NaN    NaN    NaN
1      869_1.csv   66.426777  197.459011  ...    NaN    NaN    NaN
2      961_1.csv  110.166982  248.791284  ...    NaN    NaN    NaN
3      403_2.csv   58.463016  188.841826  ...    NaN    NaN    NaN
4      863_2.csv   55.497380  188.700609  ...    NaN    NaN    NaN
...          ...         ...         ...  ...    ...    ...    ...
2233   608_2.csv   77.991345  212.268938  ...    NaN    NaN    NaN
2234  1104_1.csv   57.408350  187.603964  ...    NaN    NaN    NaN
2235   702_2.csv  245.291815  385.977739  ...    NaN    NaN    NaN
2236   520_2.csv   42.801911  172.451239  ...    NaN    NaN    NaN
2237   763_1.csv   95.358325  231.867288  ...    NaN    NaN    NaN

[2238 rows x 51679 columns]